.summary {
  &__container {
    display: flex;
    max-width: 50vw;
    justify-content: space-between;
  }

  &__header {
    font-size: 2.5rem;
  }

  &__personal {
    max-width: 30vw;
    min-width: 300px;
    font-size: 1.2rem;
  }

  &__link-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 36px;
    align-items: end;
  }
}
