@keyframes navbar-slide-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes navbar-slide-down {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.navbar {
  $n: &;
  width: 100%;
  position: sticky;
  top: 20px;
  z-index: 2;

  &__contents {
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -75px auto;
  }

  &__section {
    display: flex;
    flex: 1.5;
    justify-content: center;
  }

  &__page-links {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  &__endcap {
    padding: 0 20px;

    &--left {
      display: flex;
      margin: auto auto auto 0;
    }

    &--right {
      margin: auto 0 auto auto;
    }
  }

  &__icon-shader {
    width: 32px;
    height: 32px;
    background: #0c0341;
    position: absolute;
    border: none;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 1s;

    &:hover {
      opacity: 0.3;
    }
  }

  &__background {
    height: 75px;
    width: 90%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(#004488, transparent);
    margin: 0px auto;
    transition: width 1s, border-radius 2s;
  }

  &__scrolled-down {
    animation: navbar-slide-up 1s ease 0s 1 forwards;

    > #{$n}__background {
      width: 100%;
      border-radius: 0px;
    }
  }

  &__scrolled-up {
    animation: navbar-slide-down 1s ease 0s 1 forwards;
  }

  &__right-button {
    cursor: pointer;
    border: none;
    height: 48px;
    border-radius: 16px;
    background: linear-gradient(transparent, #004488);
    transition: background-color 0.4s linear;
    &:hover {
      background-color: #0c0341;
    }

    &--contact {
      color: #eee;
      width: 200px;
      font-size: larger;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-shadow: 2px 3px 4px midnightblue;
    }

    &--mobile-menu {
      width: 48px;
    }
  }

  &__mobile-warning-icon {
    color: #f90d;
    text-shadow: 0px 0px 10px black;
    stroke: #555;
    stroke-width: 1rem;
    margin-left: 10px;
    align-self: center;
    cursor: pointer;
    animation: pulse 3s ease 2s 10;
    transition: all 0.4s linear;

    &:hover {
      scale: 1.2;
      color: #fb0d;
    }
  }
}
