.contact {
  &__container {
    display: flex;
    justify-content: center;
    margin: 225px auto 0 auto;
    padding: 0px 24px;
    flex-wrap: wrap;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &__info-item {
    display: flex;
    margin: 12px 0;
  }

  &__info-icon {
    width: 80px;
  }

  &__link {
    color: #004488;
    text-decoration: none;

    &--text {
      line-height: 48px;
      font-size: 20px;
    }

    &:hover {
      color: black;
    }
  }

  &__right-bar {
    width: 300px;
  }

  &__text-right {
    text-align: right;
  }

  &__invite {
    font-size: 20px;
  }
}
