.background {
  background-color: #fffd;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

  &__home,
  &__resume {
    background-image: url("/public/img/resume-bg.jpg");
  }

  &__portfolio {
    background-image: url("/public/img/portfolio-bg.png");
  }

  &__about-me {
    background-image: url("/public/img/mountain-golf-bg.jpg");
  }

  &__contact {
    background-image: url("/public/img/northern-lights.jpg");
    background-color: #fff8;
  }
}
